@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url(../src/images/background.png);
  width: 100%;
  overflow-x: hidden;
}

a, p, h1, h2 {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}