@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 100vw;
}

body {
  background-image: url(../src/images/background.png);
  width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: burlywood;
  border-radius: 25px;
}
