.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  
  .search-label {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }
  
  .search-select,
  .search-input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .search-input {
    width: 15rem;
  }
  
  .search-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 0.25rem;
    margin-left: 1rem;
  }
  
  .search-button:hover {
    background-color: #0069d9;
  }
  