.search-bar-container {
    display: flex;
    padding: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar-container ul {
    background-color: burlywood;
  }


.search-bar-buttons{
    width: 120px ;
    overflow: hidden;
}

.search-bar-buttons {
    background-color: transparent;
    border: 2px solid #007bff93;
    color: #007bff;
    box-shadow: 0 0 5px #007bff90;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 80px;
}

.search-button .btn {
    background-color: #007bff93;
    margin: 10px; 
}

.form-control {
    max-width: 500px;
    margin: 10px; 
    border-radius: 10px;
}