.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container img {
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: flex-end;
}

.nav-pills {
  display: flex;
  flex-direction: row;
}

.nav-pills .nav-item {
  margin: 0px 10px;
}

.nav-pills .nav-item a {
  padding: 2px 10px;
}

.navbar-nav .nav-link.active{
  color: white;
  background-color: #007bff;
}