.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container img {
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.nav-link-container>* {
  margin: 5px;
  display: flex;
  align-items: flex-end;
}